<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>9.0</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTSDKName</key>
    <string>iphoneos9.0</string>
    <key>CFBundleName</key>
    <string>osee2unifiedRelease</string>
    <key>ZHAppBuildType</key>
    <string>release</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>知乎</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>googlechrome</string>
      <string>googlechromes</string>
      <string>googlechrome-x-callback</string>
      <string>zhihucirclelyrecommend</string>
      <string>cydia</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqconnect</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqzoneopensdk</string>
      <string>wtloginmqq</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqzonev2</string>
      <string>mqzoneshare</string>
      <string>wtloginqzone</string>
      <string>mqzonewx</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdk</string>
      <string>weixin</string>
      <string>wechat</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13A340</string>
    <key>CFBundleShortVersionString</key>
    <string>3.3.1</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15A284</string>
    <key>DTPlatformBuild</key>
    <string>13A340</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>7A1001</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>UIAppFonts</key>
    <array>
      <string>fz.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>364</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
      </dict>
      <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
      </dict>
      <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
      </dict>
      <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
      </dict>
      <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitInfo</key>
          <dict>
            <key>KitName</key>
            <string>Crashlytics</string>
          </dict>
        </dict>
      </array>
      <key>APIKey</key>
      <string>93a6ccc9111606a14f6f09429d0f22f2ca4deb2a</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.zhihu.ios</string>
    <key>DTXcode</key>
    <string>0701</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>zhihu://search</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>3D_Touch_Search</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>搜索</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict/>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>zhihu://ask</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>3D_Touch_Question</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>提问</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict/>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>zhihu://notifications</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>3D_Touch_Notice</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>查看消息</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict/>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>zhihu://zhihutoday/editorchoice</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>3D_Touch_Top</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>今日热门</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict/>
      </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>osee2unifiedRelease</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>ZHIH</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.evernote.sdk</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>en-shiguol-6412</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.getpocket.sdk</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pocketapp22483</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string>AppIcon</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhihu</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.zhihu.ios</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.zhihu.ios.wechat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wxd3f6cb54399a8489</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string>AppIcon</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb1081664247</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string>AppIcon</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent100490701</string>
        </array>
        <key>CFBundleURLName</key>
        <string>tencentopenapi</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.zhihu.ios.oauth</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhihuOauth</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
